.page-home {
}
.pubitem {
    margin: 2em 0;
    line-height: 1em;
  }
  
.pubtitle {
    margin-top: 1em;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    font-weight: bold;
    font-family: $font-family-heading;
  }
  
.pubauthors,
  .pubinfo {
    font-size: 75%;
    margin-bottom: 0.75em;
  }